AIMERC_API_URL=http://127.0.0.1:4100/api
AIMERC_AGENT_TOKEN=cole_o_token_gerado_no_saas
ERP_PROVIDER=SYSPDV
ERP_CONNECTION_MODE=FIREBIRD
FIREBIRD_ISQL_PATH=C:\Program Files\Firebird\Firebird_3_0\isql.exe
FIREBIRD_HOST=127.0.0.1
FIREBIRD_PORT=3050
FIREBIRD_DATABASE=C:\SYSPDV\SYSPDV.FDB
FIREBIRD_USER=SYSDBA
FIREBIRD_PASSWORD=troque_esta_senha
FIREBIRD_CHARSET=WIN1252
FIREBIRD_OUTPUT_ENCODING=windows-1252
FIREBIRD_TIMEOUT_SECONDS=120
ERP_API_URL=http://127.0.0.1:8080/api/produtos
ERP_AUTH_TYPE=NONE
ERP_API_TOKEN=
ERP_AUTH_HEADER=X-API-Key
ERP_ITEMS_PATH=products
SYNC_INTERVAL_SECONDS=300
START_WITH_WINDOWS=true
SYNC_BATCH_SIZE=500
AGENT_VERSION=0.1.0
